@model ScrumPoker.Models.GameModel

@{
    ViewBag.Title = "Game Screen";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
          

<div class="results">
    <div class="resultsBoard">
        <div class="average">
            <h4>Average:</h4>
            <h1>10.5</h1>
        </div>
        <button class="showButton">Show</button>
    </div>
</div>


<div class="players">
    @Html.Partial("_PlayerCard", new PlayerCardModel("Luke", 55))
    @Html.Partial("_PlayerCard", new PlayerCardModel("Luke", 55))
    @Html.Partial("_PlayerCard", new PlayerCardModel("Luke", 55))
    @Html.Partial("_PlayerCard", new PlayerCardModel("Luke", 55))
    @Html.Partial("_PlayerCard", new PlayerCardModel("Luke", 55))
    @Html.Partial("_PlayerCard", new PlayerCardModel("Luke", 55))
    @Html.Partial("_PlayerCard", new PlayerCardModel("Luke", 55))
    @Html.Partial("_PlayerCard", new PlayerCardModel("Luke", 55))
    @Html.Partial("_PlayerCard", new PlayerCardModel("Luke", 55))
    @Html.Partial("_PlayerCard", new PlayerCardModel("Luke", 55))
</div>

<div class="votingCards">
    @foreach (var value in Model.VotingCardValues)
        {
            @Html.Partial("_VotingCard", new VotingCardModel(value))
        }

</div>