@model ScrumPoker.Models.GameModel

@{
    ViewBag.Title = "Game Screen";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="navBar">
    @*<button class="showButton" asp-controller="###controller###" asp-action="###method###">New Game</button>*@
    <button asp-controller="" asp-action="">New Game</button>
    <button asp-controller="" asp-action="">Invite</button>
</div>
<div class="results">
    <div class="resultsBoard">
        <div class="average">
            <h4>Average:</h4>
            <h1>10.5</h1>
        </div>
        <button class="showButton">Show</button>
    </div>
</div>
<div class="players">
    @Html.Partial("_PlayerCard", new PlayerCardModel("Luke", 1))
    @Html.Partial("_PlayerCard", new PlayerCardModel("Luke", 2))
    @Html.Partial("_PlayerCard", new PlayerCardModel("Luke", 3))
    @Html.Partial("_PlayerCard", new PlayerCardModel("Luke", 4))
    @Html.Partial("_PlayerCard", new PlayerCardModel("Luke", 5))
    @Html.Partial("_PlayerCard", new PlayerCardModel("Luke", 6))
    @Html.Partial("_PlayerCard", new PlayerCardModel("Luke", 7))
    @Html.Partial("_PlayerCard", new PlayerCardModel("Luke", 8))
    @Html.Partial("_PlayerCard", new PlayerCardModel("Luke", 9))
    @Html.Partial("_PlayerCard", new PlayerCardModel("Luke", 10))
</div>
<div class="votingCards">
    <div class="votingCardsRow">
        @foreach (var cardValue in Model.VotingCardsTopRow)
        {
            @Html.Partial("_VotingCard", new VotingCardModel(cardValue))
        }
    </div>
    <div class="votingCardsRow">
        @foreach (var cardValue in Model.VotingCardsBottomRow)
        {
            @Html.Partial("_VotingCard", new VotingCardModel(cardValue))
        }
    </div>
</div>